.infos * {
    margin: 0px;
    padding: 0px;
}
.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    color: #ddd;
    margin: 0 20px 0 20px;
}
.song-title {
    font-size: 24px;
    overflow-wrap: break-word;
}

.song-author {
    font-size: 16px;
    font-style: italic;
}