@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #121212;
  font-family: 'Montserrat';
}

.App .footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
}